
# --- Metadados para SEO e publicação ---
site_name: PYield Docs
site_url: https://crdcj.github.io/PYield/
site_description: Biblioteca financeira para o mercado brasileiro.
site_author: Carlos Carvalho

watch:
  - pyield
  
nav:
  - Home: index.md
  - Articles:
      - Introduction to Pyield: articles/pyield_intro.md
  - Modules:
      - Core:
          - Business Day Tools: bday.md
          - Interpolator: interpolator.md
          - Forwards: forwards.md
      - Data Sources:
          - Anbima: anbima.md
          - Banco Central (BC): bc.md
          - B3:
              - Overview: b3.md
              - DI Futures: di1.md
              - Futures: futures.md
          - IPCA: ipca.md
      - Treasury Bonds:
          - Overview: tn.md
          - LFT: lft.md
          - LTN: ltn.md
          - NTN-B: ntnb.md
          - NTN-B Principal: ntnbp.md
          - NTN-B1: ntnb1.md
          - NTN-C: ntnc.md
          - NTN-F: ntnf.md
          - PRE: pre.md  

theme:
  name: 'material'
  language: 'pt-BR'
  palette:
    - scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Alternar para modo claro
    - scheme: default
      toggle:
        icon: material/lightbulb
        name: Alternar para modo escuro

  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.top
    - navigation.tracking
    - toc.follow
    - toc.integrate
    - content.code.copy
    - content.code.select    
    - search.suggest
    - search.highlight
    - search.share    
 
plugins:
  - search
  - tags
  - autorefs
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      fallback_to_build_date: true
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_toc_entry: false
            docstring_style: google
            docstring_section_style: table
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            show_overloads: false
            

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - tables
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - abbr
  - attr_list
  - md_in_html

repo_url: 'https://github.com/crdcj/PYield'
repo_name: 'PYield'
copyright: '@ 2024-2026 <strong>Carlos Carvalho</strong>. Todos os direitos reservados.'
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/crdcj/PYield

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js