[project]
name = "PYield"
authors = [{ name = "Carlos Carvalho", email = "cr.cj@outlook.com" }]
description = "A Python library for analysis of fixed income instruments in Brazil"
readme = "README.md"
requires-python = ">=3.11"
keywords = ["fixed-income, brazil, finance, analysis, bonds"]
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Financial and Insurance Industry",
    "Topic :: Office/Business :: Financial :: Investment",
]
dependencies = [
    "pandas[html, parquet]>=2.0.0",
    "numpy>=2.0.0",
    "requests>=2.31.0",
    "tenacity>=9.0.0",
]
dynamic = ["version"]

[project.urls]
Source = "https://github.com/crdcj/PYield"

[dependency-groups]
dev = [
    "dotenv",
    "ipykernel",
    "pytest",
    "pyright",
    "mkdocs",
    "mkdocs-material",
    "mkdocstrings[python]",
    "mkdocs-autorefs",
    "types-requests",
    "pandas-stubs",
    "lxml-stubs",
    "ruff",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "pyield/__about__.py"

[tool.hatch.build.targets.sdist]
only-include = ["pyield"]

[tool.uv]
package = true